<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="style.css">
    <title>Tabs</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Tabs</h1>
        </header>
        <main>
            <section class="s-tabs js-non-a11y">
                <div class="container">
                    <h2 class="visually-hidden">
                        Section with Tabs
                    </h2>
                    <div class="tabs">
                        <div class="tabs__row">
                            <button class="tabs__btn js-btn is-active" data-tab="1">
                                First Item
                            </button>
                            <button class="tabs__btn js-btn" data-tab="2">
                                Second Item
                            </button>
                            <button class="tabs__btn js-btn" data-tab="3">
                                Third Item
                            </button>
                        </div>
                        <div class="tabs__item js-item is-expand" data-item="1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem error provident consequatur, porro dignissimos eum ipsa repellat debitis non, sint veritatis aspernatur necessitatibus autem.
                        </div>
                        <div class="tabs__item js-item" data-item="2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus est et necessitatibus placeat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus rem suscipit voluptatum quibusdam distinctio unde fugit alias soluta est veritatis.
                        </div>
                        <div class="tabs__item js-item" data-item="3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum porro debitis impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, suscipit rerum soluta fugit architecto dolorem dignissimos est et autem nostrum, nulla ratione.
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>
    <script src="script.js"></script>
</body>
</html>