<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accordion</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Accordion</h1>
        </header>
        <main>
            <section class="s-accordion js-a11y">
                <div class="container">
                    <h2 class="visually-hidden">Section with accordion</h2>
                    <div class="accordion">
                        <div class="accordion__item js-item is-expand" role="">
                            <h3>
                                <button class="accordion__btn js-btn" id="btn-1" aria-controls="text-1"
                                    aria-expanded="true" aria-disabled="true">
                                    First Item
                                </button>
                            </h3>
                            <div class="accordion__text" id="text-1" aria-labelledby="btn-1" role="region">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate
                                    illo
                                    voluptatum beatae numquam hic molestiae perferendis fuga dignissimos architecto.</p>
                            </div>
                        </div>
                        <div class="accordion__item js-item">
                            <h3>
                                <button class="accordion__btn js-btn" id="btn-2" aria-controls="text-2"
                                    aria-expanded="false" aria-disabled="false">
                                    Second Item
                                </button>
                            </h3>
                            <div class="accordion__text" id="text-2" aria-labelledby="btn-2" role="region">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate
                                    illo
                                    voluptatum beatae numquam hic molestiae perferendis fuga dignissimos architecto.</p>
                            </div>
                        </div>
                        <div class="accordion__item js-item">
                            <h3>
                                <button class="accordion__btn js-btn" id="btn-3" aria-controls="text-3"
                                    aria-expanded="false" aria-disabled="false">
                                    Third Item
                                </button>
                            </h3>
                            <div class="accordion__text" id="text-3" aria-labelledby="btn-3" role="region">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate
                                    illo
                                    voluptatum beatae numquam hic molestiae perferendis fuga dignissimos architecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="script.js"></script>
</body>

</html>